body{
  background-color: rgb(40, 41, 46);
  color: rgb(255,227,232);
  font-family: system-ui;
  text-align: center;
}

.menu{
  display: inline;
}

.cursos{
  display: block;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: rgb(225,227,242);
}

.mainNav{
  background-color: rgb(22,23,25);
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 40px;
}

.mainNav .activeLink{
  background-color: rgb(40,41,46);
  padding: 10px;
  border-radius: 40px;
}

.mainNav .inactiveLink{
  padding: 10px;
}

.cursosNav{
  background-color: rgb(40,41,46);
  margin-bottom: 30px;
}

.cursosNav .activeLink{
  background-color: rgb(22,23,25);
  padding: 10px;
  border-radius: 40px;
}

.cursosnav .inactiveLink{
  padding: 10px;
}

button{
  background-color: rgb(40,41,46);
  color: white;
  border-radius: 10px;
  padding: 5px;
}

input{
  background-color: rgb(167,167,169);
}